.controls
  .download
    =button_to t('.download'), download_path(:id => document.id), :class => 'button' if document.available
  .free
    = button_to t('.free'), free_path(:id => document.id) if !document.available
  .assign
    =button_to t('.assign'), assign_path(:id => document.id, :userid => current_user.id ) if !document.user || current_user != document.user
  .upload
    =link_to t('.upload'), '#', {:class => "toggle-update-form", :id => "toggle-updateform-#{document.id}"} if (!document.available && current_user == document.user)
    .updateform{:id => "updateform-#{document.id}"}
      = render :partial => 'upform', :locals => { :document => document }
