%h1
  = t('.title', :username => current_user.username)

%table
  %tr
    %th=t('.name')
    %th=t('.available')
    %th=t('.download')
    %th=t('.user')
    %th=t('.updated')
    %th=t('.filesize')
    %th
    %th

  = render :partial => 'document', :collection => @documents

%br

= link_to t('.new'), new_document_path
