%h1
  = t('.title', :username => current_user.username)

%nav.documents
  #sort-by
    %button=link_to t('.filename'), "#filename"
    %button=link_to t('.user'), "#user"
    %button=link_to t('.updated_at'), "#update_at"
    %button=link_to t('.size'), "#size"
    %button=link_to t('.available'), "#available"
  #sort-direction
    %button=link_to t('.asc'), "#asc"
    %button=link_to t('.desc'), "#desc"
  #new
    %button#new=link_to t('.new'), '#'
    #upform
      = render :partial => 'upform', :locals => { :document => Document.new }

#container
  = render :partial => 'document', :collection => @documents

%br

